/* components/MemberArea.css */
.member-area {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.member-area button {
  padding: 10px 20px;
  background-color: #56ab2f;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.member-area button:hover {
  background-color: #3e8e41;
}
